{% extends 'YourBooksMainBundle::base.html.twig' %}

{% block body %}
    <div class="historique">
        <ul>
            <li><div class="couverture"></div></li>
            <li><div class="couverture"></div></li>
            <li><div class="couverture"></div></li>
            <li><div class="couverture"></div></li>
        </ul>
    </div>
{% endblock %}