{% extends 'YourBooksMainBundle::base.html.twig' %}

{% block body %}

    <aside class="category">
        <h1>Catégorie</h1>
        <ul>
            <li>Romantique</li>
            <li>Horreur</li>
            <li>Théâtre</li>
            <li>Cuisine</li>
            <li>Fantastique</li>
            <li>Littérature</li>
        </ul>
    </aside>

    <div>
        <ul>
            {% for book in books %}
                <li><div class="couverture">{{ book.title }} <br/> {{ book.createdAt|date("d/m/Y") }}</div></li>
                <a href="{{ path('your_books_main_editor_download', { 'id': book.id }) }}">Téléchargez</a>
                <!-- <a href="{ path('your_books_main_author_profile', { 'id': author.id }) }}">Voir le profil de l'auteur</a> -->
            {% endfor %}
        </ul>
    </div>

    <aside class="book">
        <h2>Titre</h2>
        <h3>Auteur</h3>
        <div class="couverture"></div>
        <a href="#">Téléchargez</a>
        <h4>Résumé</h4>
            <p>Lorem Ipsum</p>
        <h4>Critique</h4>
            <p>Lorem Ipsum</p>
        <span>Notes</span>
    </aside>

{% endblock %}