{% extends 'YourBooksMainBundle::base.html.twig' %}

{% block body %}
    <div class="manuscrits">
        <h1>Mes manuscrits</h1>

        <div class="book">
            <img src="" alt="couverture">
            <span>Soumis le : </span>
            <span>Statut : </span>
            En cours de lecture et de notation
        </div>
    </div>

    {% for book in books %}
        <h1>{{ book.title }}</h1>
        //TODO mettre le lien
    {% endfor %}

    <div class="historique">
        <h1>Historique</h1>
        <div class="book">

                <div class="couverture"></div>
                <span>Soumis le : </span>
    <a href="{{ path('your_books_review_upload') }}">Notez ce manuscrit</a>
            <!-- TODO rajouter l'id du book en paramètre -->
        </div>
    </div>
    <div class="new">
        <h1>Nouveaux manuscrits</h1>
    </div>
{% endblock %}