{% extends 'YourBooksMainBundle::base.html.twig' %}

{% block body %}
    <div class="manuscrits">
        <h1>Mes manuscrits</h1>



    {% for book in books %}
        <li><div class="couverture">{{ book.title }} <br/> {{ book.createdAt|date("d/m/Y") }}</div></li>
        <a href="{{ path('your_books_main_download_book', { 'id': book.id }) }}">Téléchargez</a>
        <a href="{{ path('your_books_review_upload', { 'id': book.id }) }}">Notez ce manuscrit</a>

    {% endfor %}
    </div>

{% endblock %}