{% extends 'YourBooksMainBundle::base.html.twig' %}

{% block body %}
    <div class="manuscrits">
        <h1>Mes manuscrits</h1>

        <div class="book">
            <img src="" alt="couverture">
            <span>Soumis le : </span>
            <span>En cours</span>
        </div>
    </div>

    <div class="new">
        <h1>Nouveaux manuscrits</h1>
    </div>

    <div class="historique">
        <h1>Historique</h1>
        <h2>Nombre de livres en cours</h2>
        <h2>Nombre de livres lus</h2>
    </div>
{% endblock %}