{% extends 'YourBooksMainBundle::base.html.twig' %}

{% block body %}
    <div>
           {{ book.title }}
    </div>

        <div class="progressbar">
            <h1>Review du manuscrit</h1>
        </div>

        <form method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <input type="submit">
        </form>

{% endblock %}
