<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    </head>
    <body>
        <header>
            <img src="" alt="logo_yourbooks" title="Logo YourBooks">
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <footer>
            <ul>
                <li><a href="#">Espace presse</a></li>
                <li><a href="#">L'équipe YourBooks</a></li>
                <li><a href="#">Charte d'écriture</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Nos engagements</a></li>
                <li><a href="#">Nos partenaires</a></li>
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Postuler en tant que lecteur</a></li>
                <li><a href="#">Devenir éditeur partenaire</a></li>
            </ul>
        </footer>
    </body>
</html>
