.become_reader h1
{
    font-size: 24px;
    font-family: 'Novecentowide-Bold';

}

.become_reader input, .become_reader input[type="email"], .become_reader input[type="password"]
{
    font-family: 'Quicksand-Book';
    font-size: 15px;
    display: block;
    width:450px;
    margin: 50px 0 50px 0;
    height: 40px;
}


.become_reader input[type="file"]
{

    margin: 10px 0 50px 0;
    height:30px;
}

.become_reader ul li
{
    font-family: 'Quicksand-Book';
    font-size: 15px;
    text-decoration: none;
    list-style-type: none;
}

.become_reader label
{
    font-family: 'Quicksand-Book';
    font-size: 15px;
}

.become_reader .bloc_droite
{
    float:right;
    width: 500px;
}

.become_reader .bloc_gauche
{
    float:left;
    width: 500px;
}

.become_reader .submit
{
    clear: both;
}

.become_reader .submit input[type="submit"]
{
    font-family: 'FuturaLT';
    font-size: 20px;
    color:white;
    padding:15px;
    background: #ca3e3c;
    padding: 8px 15px;
    border-radius: 4px;
    border: none;
    width:125px;

}

.become_reader .resetting input[type="submit"]
{
    width: 270px;
}

.become_reader .submit input[type="submit"]:hover
{
    -moz-box-shadow: inset 0px 0px 5px 0px #000000;
    -webkit-box-shadow: inset 0px 0px 5px 0px #000000;
    -o-box-shadow: inset 0px 0px 5px 0px #000000;
    box-shadow: inset 0px 0px 5px 0px #000000;

}
