.connect
{
    float: right;
    margin: 50px;
    width: 280px;
    color:white;
}

.connect input
{
    display: block;
    margin-bottom:10px;
}

.connect h3
{
    font-family: "Novecentowide-Bold";
    font-size: 21px;
    color:white;
}

.connect label
{
    font-size: 24px;
    font-family: "FuturaLT";
    margin:15px 0 0 0;

}

.connect input[type=submit]
{
    font-size: 22px;
    font-family: "FuturaLT";
    color:#ffffff;
    padding:5px 10px;
    background:#b40d0a;
    border-radius: 10px;
    border:none;
    float: right;
    clear: both;
    margin-top:20px;
    margin-right: 55px;
}


.connect input[type=text], input[type=password], input[type=email]
{
    width: 80%;
    height: 33px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
    -o-box-shadow:1px 1px 2px #C0C0C0 inset;
    -moz-box-shadow:1px 1px 2px #C0C0C0 inset;
    -ms-box-shadow:1px 1px 2px #C0C0C0 inset;
    -webkit-box-shadow:1px 1px 2px #C0C0C0 inset;
}

.connect label.remember_me
{
    float:right;
}

.container
{
    width:1000px;
    margin: auto;
}

input[type=checkbox]#remember_me {
    display:none;
}

input[type=checkbox]#remember_me + label[for=remember_me] {
    padding-left:20px;
    height:17px;
    display:inline-block;
    line-height:15px;
    background-repeat:no-repeat;
    background-position: 0 0;
    vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox]#remember_me:checked + label[for=remember_me] {
    background-position: 0 -17px;
}

label[for=remember_me]{
    background-image:url(http://csscheckbox.com/checkboxes/depressed.png);
}
