.first_connexion
{
    color:#9ca0a1;
    margin:auto;
    text-align: center;
}


#home_author .manuscrits .first_connexion h1
{
    font-size: 50px;
    font-family: "Quicksand-Book";
}

#home_author .manuscrits .first_connexion p
{
    font-family: "Quicksand-Book";
    font-size: 24px;
}

.first_connexion img
{
    margin:20px;
}

#home_author .manuscrits .first_connexion a
{
    font-size: 48px;
    font-family: "FuturaLT";
    text-decoration: none;
    color:#9ca0a1;
    display: block;
}