@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue/bebasneue-webfont.eot');
    src: url('../fonts/BebasNeue/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeue/bebasneue-webfont.woff') format('woff'),
    url('../fonts/BebasNeue/bebasneue-webfont.ttf') format('truetype'),
    url('../fonts/BebasNeue/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaLT';
    src: url('../fonts/FuturaLT/futuralt-webfont.eot');
    src: url('../fonts/FuturaLT/futuralt-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaLT/futuralt-webfont.woff') format('woff'),
    url('../fonts/FuturaLT/futuralt-webfont.ttf') format('truetype'),
    url('../fonts/FuturaLT/futuralt-webfont.svg#futura_ltregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaLT-Bold';
    src: url('../fonts/FuturaLT-Bold/futuralt-bold-webfont.eot');
    src: url('../fonts/FuturaLT-Bold/futuralt-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaLT-Bold/futuralt-bold-webfont.woff') format('woff'),
    url('../fonts/FuturaLT-Bold/futuralt-bold-webfont.ttf') format('truetype'),
    url('../fonts/FuturaLT-Bold/futuralt-bold-webfont.svg#futura_ltbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'FuturaLT-BoldOblique';
    src: url('../fonts/FuturaLT-BoldOblique/futuralt-boldoblique-webfont.eot');
    src: url('../fonts/FuturaLT-BoldOblique/futuralt-boldoblique-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaLT-BoldOblique/futuralt-boldoblique-webfont.woff') format('woff'),
    url('../fonts/FuturaLT-BoldOblique/futuralt-boldoblique-webfont.ttf') format('truetype'),
    url('../fonts/FuturaLT-BoldOblique/futuralt-boldoblique-webfont.svg#futura_ltboldoblique') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'FuturaLT-Book';
    src: url('../fonts/FuturaLT-Book/futuralt-book-webfont.eot');
    src: url('../fonts/FuturaLT-Book/futuralt-book-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaLT-Book/futuralt-book-webfont.woff') format('woff'),
    url('../fonts/FuturaLT-Book/futuralt-book-webfont.ttf') format('truetype'),
    url('../fonts/FuturaLT-Book/futuralt-book-webfont.svg#futura_ltbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaLT-Condensed';
    src: url('../fonts/FuturaLT-Condensed/futuralt-condensed-webfont.eot');
    src: url('../fonts/FuturaLT-Condensed/futuralt-condensed-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaLT-Condensed/futuralt-condensed-webfont.woff') format('woff'),
    url('../fonts/FuturaLT-Condensed/futuralt-condensed-webfont.ttf') format('truetype'),
    url('../fonts/FuturaLT-Condensed/futuralt-condensed-webfont.svg#futura_ltcondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaLT-CondensedBold';
    src: url('../fonts/FuturaLT-CondensedBold/futuralt-condensedbold-webfont.eot');
    src: url('../fonts/FuturaLT-CondensedBold/futuralt-condensedbold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaLT-CondensedBold/futuralt-condensedbold-webfont.woff') format('woff'),
    url('../fonts/FuturaLT-CondensedBold/futuralt-condensedbold-webfont.ttf') format('truetype'),
    url('../fonts/FuturaLT-CondensedBold/futuralt-condensedbold-webfont.svg#futura_ltcondensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaLT-CondensedBoldOblique';
    src: url('../fonts/FuturaLT-CondensedBoldOblique/futuralt-condensedboldoblique-webfont.eot');
    src: url('../fonts/FuturaLT-CondensedBoldOblique/futuralt-condensedboldoblique-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaLT-CondensedBoldOblique/futuralt-condensedboldoblique-webfont.woff') format('woff'),
    url('../fonts/FuturaLT-CondensedBoldOblique/futuralt-condensedboldoblique-webfont.ttf') format('truetype'),
    url('../fonts/FuturaLT-CondensedBoldOblique/futuralt-condensedboldoblique-webfont.svg#futura_ltcondensedboldoblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaLT-CondensedExtraBold';
    src: url('../fonts/FuturaLT-CondensedExtraBold/futuralt-condensedextrabold-webfont.eot');
    src: url('../fonts/FuturaLT-CondensedExtraBold/futuralt-condensedextrabold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaLT-CondensedExtraBold/futuralt-condensedextrabold-webfont.woff') format('woff'),
    url('../fonts/FuturaLT-CondensedExtraBold/futuralt-condensedextrabold-webfont.ttf') format('truetype'),
    url('../fonts/FuturaLT-CondensedExtraBold/futuralt-condensedextrabold-webfont.svg#futura_ltcondensedextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaLT-CondensedLight';
    src: url('../fonts/FuturaLT-CondensedLight/futuralt-condensedlight-webfont.eot');
    src: url('../fonts/FuturaLT-CondensedLight/futuralt-condensedlight-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaLT-CondensedLight/futuralt-condensedlight-webfont.woff') format('woff'),
    url('../fonts/FuturaLT-CondensedLight/futuralt-condensedlight-webfont.ttf') format('truetype'),
    url('../fonts/FuturaLT-CondensedLight/futuralt-condensedlight-webfont.svg#futura_ltcondensedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'FuturaLT-CondensedLightObl';
    src: url('../fonts/FuturaLT-CondensedLightObl/futuralt-condensedlightobl-webfont.eot');
    src: url('../fonts/FuturaLT-CondensedLightObl/futuralt-condensedlightobl-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaLT-CondensedLightObl/futuralt-condensedlightobl-webfont.woff') format('woff'),
    url('../fonts/FuturaLT-CondensedLightObl/futuralt-condensedlightobl-webfont.ttf') format('truetype'),
    url('../fonts/FuturaLT-CondensedLightObl/futuralt-condensedlightobl-webfont.svg#futura_ltcondensedlightobl') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaLT-CondensedOblique';
    src: url('../fonts/FuturaLT-CondensedOblique/futuralt-condensedoblique-webfont.eot');
    src: url('../fonts/FuturaLT-CondensedOblique/futuralt-condensedoblique-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaLT-CondensedOblique/futuralt-condensedoblique-webfont.woff') format('woff'),
    url('../fonts/FuturaLT-CondensedOblique/futuralt-condensedoblique-webfont.ttf') format('truetype'),
    url('../fonts/FuturaLT-CondensedOblique/futuralt-condensedoblique-webfont.svg#futura_ltcondensedoblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaLT-CondExtraBoldObl';
    src: url('../fonts/FuturaLT-CondExtraBoldObl/futuralt-condextraboldobl-webfont.eot');
    src: url('../fonts/FuturaLT-CondExtraBoldObl/futuralt-condextraboldobl-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaLT-CondExtraBoldObl/futuralt-condextraboldobl-webfont.woff') format('woff'),
    url('../fonts/FuturaLT-CondExtraBoldObl/futuralt-condextraboldobl-webfont.ttf') format('truetype'),
    url('../fonts/FuturaLT-CondExtraBoldObl/futuralt-condextraboldobl-webfont.svg#futura_ltcondextraboldobl') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaLT-ExtraBold';
    src: url('../fonts/FuturaLT-ExtraBold/futuralt-extrabold-webfont.eot');
    src: url('../fonts/FuturaLT-ExtraBold/futuralt-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaLT-ExtraBold/futuralt-extrabold-webfont.woff') format('woff'),
    url('../fonts/FuturaLT-ExtraBold/futuralt-extrabold-webfont.ttf') format('truetype'),
    url('../fonts/FuturaLT-ExtraBold/futuralt-extrabold-webfont.svg#futura_ltextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaLT-ExtraBoldOblique';
    src: url('../fonts/FuturaLT-ExtraBoldOblique/futuralt-extraboldoblique-webfont.eot');
    src: url('../fonts/FuturaLT-ExtraBoldOblique/futuralt-extraboldoblique-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaLT-ExtraBoldOblique/futuralt-extraboldoblique-webfont.woff') format('woff'),
    url('../fonts/FuturaLT-ExtraBoldOblique/futuralt-extraboldoblique-webfont.ttf') format('truetype'),
    url('../fonts/FuturaLT-ExtraBoldOblique/futuralt-extraboldoblique-webfont.svg#futura_ltextraboldoblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaLT-Heavy';
    src: url('../fonts/FuturaLT-Heavy/futuralt-heavy-webfont.eot');
    src: url('../fonts/FuturaLT-Heavy/futuralt-heavy-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaLT-Heavy/futuralt-heavy-webfont.woff') format('woff'),
    url('../fonts/FuturaLT-Heavy/futuralt-heavy-webfont.ttf') format('truetype'),
    url('../fonts/FuturaLT-Heavy/futuralt-heavy-webfont.svg#futura_ltheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaLT-HeavyOblique';
    src: url('../fonts/FuturaLT-HeavyOblique/futuralt-heavyoblique-webfont.eot');
    src: url('../fonts/FuturaLT-HeavyOblique/futuralt-heavyoblique-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaLT-HeavyOblique/futuralt-heavyoblique-webfont.woff') format('woff'),
    url('../fonts/FuturaLT-HeavyOblique/futuralt-heavyoblique-webfont.ttf') format('truetype'),
    url('../fonts/FuturaLT-HeavyOblique/futuralt-heavyoblique-webfont.svg#futura_ltheavyoblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaLT-Light';
    src: url('../fonts/FuturaLT-Light/futuralt-light-webfont.eot');
    src: url('../fonts/FuturaLT-Light/futuralt-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaLT-Light/futuralt-light-webfont.woff') format('woff'),
    url('../fonts/FuturaLT-Light/futuralt-light-webfont.ttf') format('truetype'),
    url('../fonts/FuturaLT-Light/futuralt-light-webfont.svg#futura_ltlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaLT-LightOblique';
    src: url('../fonts/FuturaLT-LightOblique/futuralt-lightoblique-webfont.eot');
    src: url('../fonts/FuturaLT-LightOblique/futuralt-lightoblique-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaLT-LightOblique/futuralt-lightoblique-webfont.woff') format('woff'),
    url('../fonts/FuturaLT-LightOblique/futuralt-lightoblique-webfont.ttf') format('truetype'),
    url('../fonts/FuturaLT-LightOblique/futuralt-lightoblique-webfont.svg#futura_ltlightoblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaLT-Oblique';
    src: url('../fonts/FuturaLT-Oblique/futuralt-oblique-webfont.eot');
    src: url('../fonts/FuturaLT-Oblique/futuralt-oblique-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaLT-Oblique/futuralt-oblique-webfont.woff') format('woff'),
    url('../fonts/FuturaLT-Oblique/futuralt-oblique-webfont.ttf') format('truetype'),
    url('../fonts/FuturaLT-Oblique/futuralt-oblique-webfont.svg#futura_ltoblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HTOWERT';
    src: url('../fonts/HTOWERT/htowert-webfont.eot');
    src: url('../fonts/HTOWERT/htowert-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HTOWERT/htowert-webfont.woff') format('woff'),
    url('../fonts/HTOWERT/htowert-webfont.ttf') format('truetype'),
    url('../fonts/HTOWERT/htowert-webfont.svg#high_tower_textregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Novecentowide-Bold';
    src: url('../fonts/Novecentowide-Bold/synthview_-_novecentowide-bold-webfont.eot');
    src: url('../fonts/Novecentowide-Bold/synthview_-_novecentowide-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Novecentowide-Bold/synthview_-_novecentowide-bold-webfont.woff') format('woff'),
    url('../fonts/Novecentowide-Bold/synthview_-_novecentowide-bold-webfont.ttf') format('truetype'),
    url('../fonts/Novecentowide-Bold/synthview_-_novecentowide-bold-webfont.svg#novecento_wide_bookbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Novecentowide-Book';
    src: url('../fonts/Novecentowide-Book/novecentowide-book-webfont.eot');
    src: url('../fonts/Novecentowide-Book/novecentowide-book-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Novecentowide-Book/novecentowide-book-webfont.woff') format('woff'),
    url('../fonts/Novecentowide-Book/novecentowide-book-webfont.ttf') format('truetype'),
    url('../fonts/Novecentowide-Book/novecentowide-book-webfont.svg#novecento_widebook') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Novecentowide-DemiBold';
    src: url('../fonts/Novecentowide-DemiBold/synthview_-_novecentowide-demibold-webfont.eot');
    src: url('../fonts/Novecentowide-DemiBold/synthview_-_novecentowide-demibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Novecentowide-DemiBold/synthview_-_novecentowide-demibold-webfont.woff') format('woff'),
    url('../fonts/Novecentowide-DemiBold/synthview_-_novecentowide-demibold-webfont.ttf') format('truetype'),
    url('../fonts/Novecentowide-DemiBold/synthview_-_novecentowide-demibold-webfont.svg#novecento_widedemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Novecentowide-Light';
    src: url('../fonts/Novecentowide-Light/synthview_-_novecentowide-light-webfont.eot');
    src: url('../fonts/Novecentowide-Light/synthview_-_novecentowide-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Novecentowide-Light/synthview_-_novecentowide-light-webfont.woff') format('woff'),
    url('../fonts/Novecentowide-Light/synthview_-_novecentowide-light-webfont.ttf') format('truetype'),
    url('../fonts/Novecentowide-Light/synthview_-_novecentowide-light-webfont.svg#novecento_widelight') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Novecentowide-Medium';
    src: url('../fonts/Novecentowide-Medium/synthview_-_novecentowide-medium-webfont.eot');
    src: url('../fonts/Novecentowide-Medium/synthview_-_novecentowide-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Novecentowide-Medium/synthview_-_novecentowide-medium-webfont.woff') format('woff'),
    url('../fonts/Novecentowide-Medium/synthview_-_novecentowide-medium-webfont.ttf') format('truetype'),
    url('../fonts/Novecentowide-Medium/synthview_-_novecentowide-medium-webfont.svg#novecento_widemedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Novecentowide-Normal';
    src: url('../fonts/Novecentowide-Normal/synthview_-_novecentowide-normal-webfont.eot');
    src: url('../fonts/Novecentowide-Normal/synthview_-_novecentowide-normal-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Novecentowide-Normal/synthview_-_novecentowide-normal-webfont.woff') format('woff'),
    url('../fonts/Novecentowide-Normal/synthview_-_novecentowide-normal-webfont.ttf') format('truetype'),
    url('../fonts/Novecentowide-Normal/synthview_-_novecentowide-normal-webfont.svg#novecento_widenormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand-Bold';
    src: url('../fonts/Quicksand-Bold/quicksand_bold-webfont.eot');
    src: url('../fonts/Quicksand-Bold/quicksand_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Quicksand-Bold/quicksand_bold-webfont.woff') format('woff'),
    url('../fonts/Quicksand-Bold/quicksand_bold-webfont.ttf') format('truetype'),
    url('../fonts/Quicksand-Bold/quicksand_bold-webfont.svg#quicksandbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Quicksand-Book';
    src: url('../fonts/Quicksand-Book/quicksand_book-webfont.eot');
    src: url('../fonts/Quicksand-Book/quicksand_book-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Quicksand-Book/quicksand_book-webfont.woff') format('woff'),
    url('../fonts/Quicksand-Book/quicksand_book-webfont.ttf') format('truetype'),
    url('../fonts/Quicksand-Book/quicksand_book-webfont.svg#quicksandbook') format('svg');
    font-weight: normal;
    font-style: normal;
}