@font-face {
    font-family: "Futura LT";
    src: url('../fonts/FuturaLT.ttf');
}

footer
{
    background: linear-gradient(to top, #000000, #2e2e2e);
    background: -webkit-linear-gradient(to top, #000000, #2e2e2e);
    background: -moz-linear-gradient(to top, #000000, #2e2e2e);
    background: -o-linear-gradient(to top, #000000, #2e2e2e);
    background: -ms-linear-gradient(to top, #000000, #2e2e2e);
    height: 100px;
    width:100%;
    margin:auto;
    margin-top: 200px;
}
footer ul
{
    text-align:center;
    margin: 0 auto;
}
footer ul li
{
    list-style-type:none;
    display:inline-block;

}

footer ul li a
{
    font-family: 'Futura LT';
    font-size: 1.3em;
    color: #ffffff;
    padding:10px;
    text-decoration: none;
    display: inline-block;
    outline:none;
}

footer ul li a:active, a:focus
{
    outline:none;
}

footer ul li a:active
{
    color:#b00101;
}
