header
{
    background: linear-gradient(to top, #000000, #2e2e2e);
    background: -webkit-linear-gradient(to top, #000000, #2e2e2e);
    background: -moz-linear-gradient(to top, #000000, #2e2e2e);
    background: -o-linear-gradient(to top, #000000, #2e2e2e);
    background: -ms-linear-gradient(to top, #000000, #2e2e2e);
    height: 100px;
    width:100%;
    margin:auto;
}

header ul
{
    margin:0;

}

header .navicon ul li
{
    list-style-type:none;
    float:left;
    margin:25px 0 0 0;

}

header .navicon img
{

    padding: 5px 20px;
}

header .authenticated
{
    float:right;
    margin:auto;

}

header .authenticated .infos
{
    float:left;
    text-align:right;
    margin-top:20px;
}
header .authenticated img
{
    height:28px;
    width:25px;
    float:right;
    padding-right:25px;
    margin-top:40px;
    margin-left:30px;
}

header .authenticated p
{
    font-family:'FuturaLT-Heavy';
    font-size:26px;
    color:white;
    margin:0;
}

header .authenticated a
{
    font-family:'FuturaLT-Light';
    font-size:26px;
    color:white;
    text-decoration:none;
    margin:0;
}

header .logo
{
    margin-top:10px;
    float:left;
    width:150px;
    height:83px;
    margin-left:10px;
}

header .not_authenticated
{
    float:right;
    color:white;
    margin:auto;
    padding:30px;
}


header .not_authenticated a
{

    color: white;
    text-decoration:none;
    font-family: "FuturaLT-Light";
    font-size:26px;
    text-align:right;
    padding:10px;
    margin-top:10px;
}

header .not_authenticated a:first-child
{
    border-right: 1px solid white;
}