.engagements h1
{
    font-family: 'Novecentowide-Book';
    font-size: 30px;
    border-bottom: 2px solid #cfc7a3;
    padding-bottom: 10px;
}

.engagements .content
{
    padding-left: 100px;
    margin: auto ;
}

.engagements .content h2
{
    font-family: "Novecentowide-Book";
    font-size: 22px;
    margin: 100px 0 15px 30px;
}

.engagements .content h3
{
    font-family: "FuturaLT";
    font-size: 24px;
}

.engagements .content .editor_partner h3
{
    float:right;
}


.engagements .content p
{
    font-family: "FuturaLT";
    font-size: 16px;
}

.engagements .content img
{
    float:left;
}

.engagements .content .reader_partner img
{
    margin:20px 100px 20px 20px;
}

.engagements .editor_partner, .engagements .reader_partner
{
    width:1000px;
}

.engagements .bx-wrapper
{
    margin-top:30px;
}

.engagements .bx-wrapper .bx-controls-direction a {
    margin-left: -100px;
    margin-right: -100px;
}