{% extends 'YourBooksPaymentBundle::base.html.twig' %}
{% block title %}{{ parent() }}Paiement effectué{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="first_historic">
        <h1>Paiement de votre manuscrit en cours</h1>
        <p>Veuillez patienter, le traitement de votre paiement est en cours.</p>
        <img src="{{ asset('bundles/yourbooksmain/images/logo_first_connexion.png') }}" alt="logo_yourbooks">
    </div>
{% endblock %}