{% extends "YourBooksUserBundle::layout.html.twig" %}

{% block body %}

{% block fos_user_content %}
    <div id="profil">
        {% if is_granted('ROLE_EDITOR') %}
            <h1>PROFIL DE L'AUTEUR</h1>
        {% else %}
            <h1>MON PROFIL</h1>
        {% endif %}
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label}}">
                    {{ flash |raw }}
                </div>
            {% endfor %}
        {% endfor %}
        {% if profile is defined and profile == 'private' %}
            <a href="{{ path('your_books_user_profile_edit') }}">
                Modifier profile
            </a>
            {% include "YourBooksUserBundle:Profile:show_content_private.html.twig" %}
        {% else %}
            {% if is_granted('ROLE_AUTHOR') %}
                <a href="{{ path('your_books_user_profile_edit') }}">
                    Modifier profile
                </a>
            {% endif %}
            {% include "YourBooksUserBundle:Profile:show_content_public.html.twig" %}
        {% endif %}
    </div>
{% endblock fos_user_content %}

{% endblock body %}