{% extends "YourBooksUserBundle::layout.html.twig" %}

{% block body %}

{% block fos_user_content %}
    <div id="profil">
        <h1>MON PROFIL</h1>
        {% if profile is defined and profile == 'private' %}
            <a href="{{ path('your_books_user_profile_edit') }}">
                Modifier profile
            </a>
            {% include "YourBooksUserBundle:Profile:show_content_private.html.twig" %}
        {% else %}
            <a href="{{ path('your_books_user_profile_edit') }}">
                Modifier profile
            </a>
            {% include "YourBooksUserBundle:Profile:show_content_public.html.twig" %}
        {% endif %}
    </div>
{% endblock fos_user_content %}

{% endblock body %}