/*CSS*/

header
{
    background: rgba(0, 0, 0, 0.5);
}

footer
{
    background: rgba(0, 0, 0, 0.5);
}

html
{
    background: url(../../images/backgroundhome.jpg) no-repeat center fixed;
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */
    margin:0;
    padding:0;
}