{% extends 'YourBooksPaymentBundle::base.html.twig' %}
{% block title %}{{ parent() }}Paiement effectué{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="first_historic">
        <h1>Paiement de votre manuscrit effectué !</h1>
        <p>Le paiement de votre manuscrit a bien été effectué. Votre livre va maintenant passer devant un administrateur qui le validera s'il correspond à nos critères.</p>
        <img src="{{ asset('bundles/yourbooksmain/images/logo_first_connexion.png') }}" alt="logo_yourbooks">
    </div>
{% endblock %}