{% extends 'YourBooksMainBundle::base.html.twig' %}

{% block body %}
    <div class="parameters">
        <h2>Paramètres</h2>
        <ul>
            <li>Identifiant</li>
            <li>Mot de Passe</li>
        </ul>
        <!-- Bouton supprimer son compte -->
    </div>
{% endblock %}