{% extends 'YourBooksMainBundle::base.html.twig' %}

{% block body %}
    <h1>Mon Profil</h1>
    <div class="coordonnees">
        <h2>Coordonnées</h2>
        <ul>
            <li>Email</li>
            <li>Tel</li>
        </ul>
    </div>
    <div class="identity">
        <h2>Identité</h2>
        <ul>
            <li>Nom</li>
            <li>Prénom</li>
            <li>Date de naissance</li>
        </ul>
    </div>
    <div class="adress">
        <h2>Lieu de Résidence</h2>
        <ul>
            <li>Rue</li>
            <li>Code Postal</li>
            <li>Ville</li>
        </ul>
    </div>
{% endblock %}