@font-face {
  font-family: "Futura LT";
  src: url('../fonts/FuturaLT.ttf');
}

@font-face {
  font-family: 'novecento_wide_bold';
  src: url('../fonts/novecentowide-bold.eot');
  src: url('../fonts/novecentowide-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/novecentowide-bold.woff') format('woff'),
  url('../fonts/novecentowide-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}


