{% extends 'YourBooksMainBundle::base.html.twig' %}
{% block body %}

    <div class="engagements">

        <h1>Charte d'écriture</h1>

        <div class="content">

           {{ charte | raw }}
        </div>
    </div>
{% endblock body %}