{% extends 'YourBooksMainBundle::base.html.twig' %}
{% block title %}{{ parent() }}Conditions d'utilisation{% endblock %}
{% block body %}

    <div class="engagements">

        <h1>Conditions d'utilisation</h1>

        <div class="content">
            {% for conditionsUtilisation in conditionsUtilisation %}
                <h2>{{ conditionsUtilisation.title | raw}}</h2>
                <p>{{ conditionsUtilisation.content | raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock body %}