{% extends 'YourBooksMainBundle::base.html.twig' %}
{% block body %}

    <div class="engagements">

        <h1>Crédits</h1>

        <div class="content">
            {% for credit in credits %}
                <p>{{ credit.content }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock body %}