{% extends 'YourBooksMainBundle::base.html.twig' %}
{% block title %}{{ parent() }}Nos Engagements{% endblock %}
{% block body %}

    <div class="engagements">

        <h1>Nos Engagements</h1>

        <div class="content">
            {% for engagement in engagements %}
                <h2>{{ engagement.title }}</h2>
                <p>{{ engagement.content }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock body %}