{% extends 'YourBooksMainBundle::base.html.twig' %}
{% block title %}{{ parent() }}Mentions légales{% endblock %}
{% block body %}

    <div class="engagements">

        <h1>Mentions légales</h1>

        <div class="content">
            {% for mentionLegale in mentionsLegales %}
                <h2>{{ mentionLegale.title | raw }}</h2>
                <p>{{ mentionLegale.content | raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock body %}