{% extends 'YourBooksMainBundle::base.html.twig' %}
{% block title %}{{ parent() }}Boîte à outils{% endblock %}
{% block body %}

    <div class="engagements">

        <h1>Boîte à outils</h1>

        <div class="content">
            {% for outil in outils %}
                <h2>{{ outil.title }}</h2>
                <p>{{ outil.content }}</p>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock body %}