{% extends 'YourBooksMainBundle::base.html.twig' %}
{% block body %}

    <div class="engagements">

        <h1>Espace Presse</h1>

        <div class="content">

           {{ presse | raw }}
        </div>
    </div>
{% endblock body %}