{% extends 'YourBooksMainBundle::base.html.twig' %}
{% block title %}{{ parent() }}Espace presse{% endblock %}
{% block body %}

    <div class="engagements">

        <h1>Espace Presse</h1>

        <div class="content">
            {% for articlePresse in presse %}
                <h2>{{ articlePresse.title }}</h2>
                <p>{{ articlePresse.content }}</p>
                {% if (articlePresse.fileName is not null) %}
                    <a class="dl" href="{{ path('your_books_main_download_presse', { 'id': articlePresse.id }) }}">Téléchargez</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock body %}