{% extends 'YourBooksMainBundle::base.html.twig' %}
{% block body %}

    <div class="engagements">

        <h1>L'équipe YourBooks</h1>

        <div class="content">

           {{ team | raw }}
        </div>
    </div>
{% endblock body %}